.clock {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .clock__face {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
  }
  
  .hand {
    height: 140px;
    width: 4px;
    transform-origin: center bottom;
    transform: rotate(0deg);
    position: absolute;
  }
  
  .hand--hours {
    background: #2446D6;
  }
  
  .hand--minutes {
    background: #EBBDD1;
    width: 3px;
  }
  
  .hand--seconds {
    background: #FFFAF0;
    width: 2px;
    transform: rotate(360deg);
  }