body {
    color: #FFFAF0;
    height: 300px;
    width: 300px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock {
    background-color: #7AE1D0;
    position: absolute;
    display: flex;
    align-items: center;


    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 1rem solid black;
  }

  #topSection {
    color: #FFFAF0;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 25%;
    background-color: #7AE1D0;
    background-size: contain;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
  #appSection{
    overflow: scroll;
    position: absolute;
    top: 25%;  
    width: 100%;
    height: 75%;
    background-color: #EBBDD1;
    color: #FFFAF0;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    max-width: 100%;
    max-height: 300px;

  }

  #bottomSection {
    color: #FFFAF0;
    position: absolute;
    top: 84%;
    width: 99%;
    height: 16%;
    left: 2;
    background-color: #7AE1D0;
    background-size: contain;
    border-bottom-right-radius: 150px;
    border-bottom-left-radius: 150px;
  }

#menuTitle {
    
    position: fixed;
    top: 5%;
    left: 3%;
    font-size: 1.50rem;
}

#menuSubTitle {
  position: fixed;
  color: #2446D6;
    top: 8%;
    left: 3%;
    font-size: 0.75rem;
}
ul{
    position: relative;
    align-self: center;
    align-items: center;
}
ul li{
    font-size: 1.25rem;
    list-style-type: none;

}

#data-tempo{
    font-size: 1rem;
}

#clockDigi {
    position: fixed;
    width: 0.5rem;
    top: 3%;
    padding-left: 12%;
}

  
#cima {
  color: #FFFAF0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;


  }
#direita {
  color: #FFFAF0;
    position: absolute;
    top: 50%;
    left: 96%;
    width: 50%;
    height: 100%;
  }

#esquerda {
  color: #FFFAF0;
    position: absolute;
    top: 50%;
    left: 1%;
    width: 50%;
    height: 100%;
  }

#baixo {
  color: #FFFAF0;
    position: absolute;
    top: 94%;
    left: 50%;
    width: 100%;
    height: 50%;
  }

  #BPM{
    position: relative;
    margin-top: 4%;
    left: 40%

  }
  #usefulInfo{
    position: relative;
    margin: 4px;
  }

.back{
    position: relative;
    left: 42%;
    width: fit-content;
    height: fit-content;
    background-color: #d2e12b;
}
.backMap{
  position: absolute;
  left: 42%;
  width: fit-content;
  height: fit-content;
  background-color: #d2e12b;
}
